/*ESTILO PARA ENCABEZADO */

.caja-admin {
    width: 100%;
    background-color: #e3ebeb;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

/*ESTILO PARA EL LOGIN*/


.caja-login {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer{
    width: 100vw;
    position: absolute;
    background-color: rgba(128, 187, 216, 0.2);
    height: 100vh;
    z-index: 2;
}
.fondo-login{
    position:absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
.fondo-login img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login {
    background-color: #11110F;
    background: white;
    box-shadow: 11px 13px 20px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 13px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 13px 20px -6px rgba(0,0,0,0.75);
    padding: 40px 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    gap: 20px;
}
.titulo-login{
    display: flex;
    margin-bottom: 10px;
}
.textoForm{
    color: #f8b808;
}
.titulo-login h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #3a6adb;
    font-weight: 1000;
    font-size: 30px;
}
.titulo-login .com{
    color: #f8b808;
    display: flex;
    align-items: center;
}
.dolar{
    display: flex;
    align-items: center;
    transition: 1s ease;
}
.dolar:hover{
    transition: 1s ease;
    cursor: pointer;
    background-color: #3a6adb;
    border-radius: 100%;
}

.login input {
    padding: 7px 20px;
    width: 100%;
    font-size: 17px;
    border-radius: 20px;
    border-style: none;
    background-color: transparent;
    border: 2px solid #767676;
    color: #ffffff;
}
.login input:focus{
	border: 3px solid #4f5eeb;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.btn-entrar {
    padding: 7px 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 17px;
    border-radius: 20px;
    border-style: none;
    background-color: #005EF3;
    color: #ffffff;
    cursor: pointer;
}

/*ESTILOS PARA EL NAV DE GESTIÓN*/
hr {
    border: none;
}

.header-gestion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link-g {
    text-decoration: none;
    padding: 10px;
    flex-grow: 1;
    color: #f8b808;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.5s ease;
}

.link-g:hover {
    transition: 0.5s ease;
    color: #3a6adb;
}

.activado-g {
    transition: 0.3s ease;
    text-decoration: none;
    padding: 10px;
    flex-grow: 1;
    color: white;
    font-weight: bold;
    background-color: #3a6adb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-admin {
    width: 25px;
}

/*ESTILO PARA EL PANEL DE GESTIÓN*/

.seccion-gestion {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

/*ESTILO PARA LA TABLA CRUD */

.caja-crud {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 20px;
    gap: 20px;
    padding-bottom: 100px;
}
.caja-crud-admin {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 20px;
    gap: 20px;
}
.caja-crud-2{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 20px;
    gap: 20px;
    padding-bottom: 150px;
}

.icon-crud {
    width: 20px;
}

.tabla-crud th {
    padding: 10px 30px;
    background-color: #a8d4e6;
}

.column-crud {
    border-top: 0.2px solid #cdcde4;
    padding: 10px 30px;
}

/*ESTILO PARA LOS BOTONES CRUD*/
.caja-update-delete {
    display: flex;
    gap: 15px;
}

.btn-create {
    background-color: white;
    color: #3a6adb;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
    border: none;
}
.btn-create:hover{
    background-color: #3a6adb;
    color: white; 
}
.btn-edit {
    background-color: #3a6adb;
    color: white;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 10px;
    border: none;
}

.btn-delete {
    background-color: #d45454;
    color: white;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 10px;
    border: none;
}

/*ESTILO PARA DIALOGS CREAR CATEGORÍA */
.dialog-create {
    background-color: white;
    width: 400px;
    padding: 10px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.body-dialog-create {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}
.body-dialog-create label{
    color: #1a4cd6;
}
.body-dialog-create input{
    padding: 10px 10px;
    border-radius: 5px;
}

.footer-dialog-create {
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
    gap: 10px;
}
.btn-cancelar-dialog{
    padding: 10px 20px;
    font-weight: bold;
    color: #1a4cd6;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid #2f9edf;
}
.btn-cancelar-dialog:hover{
    transition: 0.3s ease;
    background-color: #1a4cd6;
    color: white;
    
}
.btn-crear-dialog{
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: #1a4cd6;
    border-radius: 5px;
    border: 0.5px solid #2f9edf;
}
.btn-crear-dialog:hover{
    transition: 0.3s ease;
    background-color: #1d43aa;
    color: white;
    
}


/*ESTILO PARA DIALOGS CREAR PRODUCTO */

.dialog-crud-producto{
    background-color: white;
    width: 500px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.body-dialog-crud-producto{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}
.dialog-dato-producto{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}
.body-dialog-crud-producto label{
    color: #1a4cd6;
}
.body-dialog-crud-producto input{
    padding: 10px 10px;
    border-radius: 5px;
}
.select{
    border: 2px solid #a8d4e6;
    padding: 7px;
    border-radius: 5px;
}
.p-dropdown-item{
    background-color: white;
    padding: 5px;
}
.dialog-dato-producto-img{
    display: flex;
    flex-direction: row;
}
.div-img-select{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-img{
    background-color: #a8d4e6;
    border: none !important;
    color: #1a4cd6 !important;
    font-weight: 800;
}
#file-upload-button{
    background-color: blue !important;
}
.div-img{
    display: flex;
    justify-content: center;
    align-items: end;
    width: auto;
    padding: 0px 0px 0px 10px;
}

/*ESTILOS PARA LA SECCIÓN DE LISTA DE PEDIDOD*/
.panel-pedido{
    width: 100%;
    padding: 10px 0px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box-estado-pedido{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 95%;
}
.tag-estado{
    padding: 5px 10px;
}
.tag-estado:hover{
    transition: 0.2s ease;
    cursor: pointer;
    font-size: 13px;
}
.box-pedidos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 95%;
    padding: 10px 0px;
}
.box-pedidos .tabla-crud {
    width: 100%;
}

.box-detalles{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.box-detalles span{
    color: #1d43aa;
}
.btn-ojo{
    background-color: #98e792;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

/*ESTILOS PARA EL FOOTER DE ADMIN*/
.footer-container-admin{
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: end; 
}
.btn-salir{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-right: 30px;
}
.btn-cancel{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #ca3f3f;
    color: #ca3f3f;
}
.btn-out{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #ca3f3f;
    color: #ca3f3f;
}
.btn-out:hover{
    background-color: #ca3f3f;
    color: white;
}